.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #e3e3e3;
}

.button.selected {
    -fx-background-color: yellow;
}

.add-button {
    -fx-background-color: #dfdfdf;
}

.add-button:hover {
    -fx-background-color: #c8c8c8;
}

.text-field {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent transparent #1e1e1e transparent;
    -fx-background-color: transparent;
}

.menu-button .arrow {
   -fx-opacity: 0;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button:hover {
    -fx-background-color: #e3e3e3;
}

.menu-item {
    -fx-alignment: CENTER;
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
}

.spinner .text-field {
    -fx-border-width: 0; /* Ẩn border */
    -fx-background-color: transparent; /* Đặt nền thành trong suốt */
}

.pagination {
    -fx-font-size: 14px;
}

